<h1> This is index </h1>

<div style="margin-top: 2em; font-size: 30px; text-align:center">
  <%= link_to('new', {:action => 'new'})%>
</div>

<br><br>
<h1>Listing Articles</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>
<% index = 1 %>
<% @articles.each do |article| %>
  <tr>
    <td>

      <%= link_to(article_path(article)) do %>
        <div style="text-decoration: none !important; color: blue;">
          <%= "#{index}. " %><%= article.title %>
        </div>
      <% end %>
    </td>
  </tr>
  <% index += 1 %>
<% end %>
</table>

<br>
