<h1 style="text-align: center; margin-top: 2em">Show</h1>


<%= link_to({:action => 'index'}) do %>
  <div style="text-decoration: none !important; text-align: center; color: blue;">
      <h2>Index</h2>
  </div>
<% end %> <br>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div>
        <br>
        <h3 style="margin-left: 1em;">Title:</h3>
        <blockquote style="margin-left: 3em;"><code style="color: black; font-size:15px;"><%= @article.title %></blockquote></code><br><br>
        <h3 style="margin-left: 1em;">Description</h3>
        <blockquote style="margin-left: 3em;"><code style="color: black; font-size:15px;"><%= @article.description %></blockquote></code> </p><br><br>
        <br>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9"></div>
    <div class="col-md-1">
      <%= link_to(edit_article_path(@article)) do %>
        <div style="color:edit; color: blue; font-size:20px;">
          Edit
        </div>
      <% end %> <br><br><br>
    </div>
  </div>
</div>
