<h1 style="text-align: center; margin-top: 2em">Show</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div>
        <br>
        <h3 style="margin-left: 1em;">Title:</h3>
        <blockquote style="margin-left: 3em;"><code style="color: black; font-size:15px;"><%= @article.title %></blockquote></code><br><br>
        <h3 style="margin-left: 1em;">Description</h3>
        <blockquote style="margin-left: 3em;"><code style="color: black; font-size:15px;"><%= @article.description %></blockquote></code> </p><br><br>
        <br>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <span class="inline">
        <%= button_to('<< Back', {:action => 'index'}, :method => :get) -%>
        <%= button_to('Edit', edit_article_path(@article), :method => :get) -%>
      </span>
    </div>
  </div>
</div>
