<body class="material_background_grey">
  <h1 class="header">This is the home page</h1>


  <div class="container">
    <h1 style="color: white">3 column layout</h1>
    <div class="row">
      <div class="col-md-4" style="background-color: purple; text-align: center; color: white">
          First
      </div>
      <div class="col-md-4" style="background-color: blue; color: white">
          Second
      </div>
      <div class="col-md-4" style="background-color: green; color: white">
          Third
      </div>
    </div>

    <br>

    <div style="background-color: white; height: 500px; width: 50em; margin: 0 auto;">
      <p>Testing the <mark>highlighting</mark> potential of this</p>

      <blockquote style="color: solid black">
        <p>Testing the blockquote</p>
      </blockquote>
      <footer> This is the footer!</footer>


      <h4>Things to do when you're bored</h4>
      <dl>
        <dt>Indoors</dt>
          <dd>- take a nap</dd>
          <dd>- watch netflix</dd>
        <dt>Outdoors</dt>
          <dd>- go back inside(lol)</dd>
      </dl>

      <h3>Here's some c++ code</h3>
      <code>
        int i; <br>
        cin >> i; <br>
        cout << "You inputed: " << i << endl; <br>
      </code>


    </div>

  </div>

</body>
