<body class="material_background_grey">
  <h1 class="header">This is the home page</h1>

  <div class="remove_underline">
    <p class="link"><%= link_to('About', {:controller => 'welcome', :action => 'about'}) %></p>
  </div>

</body>
