<head>
  <title>Projects</title>
</head>

<body class="blue_background">

  <center>
    <div class="animated fadeIn" style="-webkit-animation-delay: 0.25s;">
      <h1 class="title_article">Projects</h1><br>
    </div>
  </center>


  <br><br><br>
  <div class="animated fadeIn" style="-webkit-animation-delay: 1s;">
    <div class="container">
      <div class="row" style="width: 60em; margin: 0 auto; height: 61em; background-color: white; border-radius: 50px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <br>
          <div class="animated fadeIn" style="-webkit-animation-delay: 1.1s;">
            <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
              <%= link_to({:controller => 'articles', :action => 'index'}) do %>
                <div class="link_color" style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">
                  1. alpha_blog
                </div>
              <% end %>
            </button>
          </div>
          <div class="animated fadeIn" style="-webkit-animation-delay: 1.2s;">
            <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
              <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">2. Coming Soon</div>
            </button>
          </div>
          <div class="animated fadeIn" style="-webkit-animation-delay: 1.3s;">
            <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
              <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">3. Coming Not So Soon</div>
            </button>
          </div>
          <div class="animated fadeIn" style="-webkit-animation-delay: 1.4s;">
            <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
              <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">4. Coming ... Next Year?</div>
            </button>
          </div>
          <div class="animated fadeIn" style="-webkit-animation-delay: 1.5s;">
            <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
              <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">5. Will There Even Be 5 Projects?</div>
            </button>
          </div>
          <div class="animated fadeIn" style="-webkit-animation-delay: 1.6s;">
            <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
              <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">6. Okay, Don't Get Your Hopes Up Kid</div>
            </button>
          </div>
          <div class="animated fadeIn" style="-webkit-animation-delay: 1.7s;">
            <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
              <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">7. Dreaming Big I See</div>
            </button>
          </div>
          <div class="animated fadeIn" style="-webkit-animation-delay: 1.8s;">
            <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
              <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">8. Why Not Just Go To 100 -.-</div>
            </button>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

</body>
