<body class="blue_background">

  <div class="container">
    <div class="row" style="height: 15em;">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1 class="title_projects_index">Projects</h1><br>
        <h7 style="color: white; margin-top: 1em; text-align: center"> Here are collection of projects that I have developed.</h7>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>


  <div class="container">
    <div class="row" style="width: 60em; margin: 0 auto; height: 61em; background-color: white; border-radius: 50px;">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <br>
        <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
          <%= link_to({:controller => 'articles', :action => 'index'}) do %>
            <div class="link_color" style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">
              alpha_blog
            </div>
          <% end %>
        </button>
        <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
          <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">Project 2</div>
        </button>
        <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
          <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">Project 3</div>
        </button>
        <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
          <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">Project 4</div>
        </button>
        <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
          <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">Project 5</div>
        </button>
        <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
          <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">Project 6</div>
        </button>
        <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
          <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">Project 7</div>
        </button>
        <button type="button" class="btn btn_projects_index btn-block" style="margin-top: 2em;">
          <div style="font-size:1.8em; font-weight: bolder ;vertical-align: middle;">Project 8</div>
        </button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</body>
