.header {
  margin-top: 50px;
  text-align: center;
  font-size: 75px;
  font-style: Arial;
  color: white
}

.material_background_grey {
  background-color: #607D8B
}

.link {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.remove_underline {
  text-decoration: none;
}

.link_color {
  text-decoration: none !important;
  color: white;
}
