.header {
  margin-top: 50px;
  text-align: center;
  font-size: 75px;
  font-style: Arial;
  color: white
}

.material_background_grey {
  background-color: #607D8B
}

.link {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
}

.remove_underline {
  text-decoration: none;
}

.link_color {
  text-decoration: none !important;
  color: white;
}

.title_home {
  color:white;
  text-align:center;
  margin-top:2em;
  font-size: 40px;
  font-family: sans-serif;
}

.title_layout {
  font-size: 15px;
}
